

.header {
    background-color: #ffffff;
    display: block;
    height: 60px;
    position: sticky;
    margin: auto 0;
    top: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
#menu__checkbox {
    opacity: 0;
}


.header .wrapper h1{
    position: absolute;
    top: 45;
    left: 60px;

}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition: 0.3s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu-wrapper {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    transition: 0.3s;
}

.menu__item {
    display: block;
    padding: 18px 24px;
    color: #333;
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    transition: background 0.3s;
}
.menu__item:hover {
    background-color: #ff41bd;
}

#menu__checkbox:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__checkbox:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__checkbox:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__checkbox:checked ~ .menu-wrapper {
    visibility: visible;
    left: 0;
}

@media screen and (min-width: 1024px) {
    .header{
        height: unset;
    }
    .header .wrapper {
        width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .header .wrapper h1{
        position: initial;
    }
    #menu__checkbox, .menu__btn {
        display: none;
    }
    .menu-wrapper {
        visibility: unset;
        left: unset;
        background-color: unset;
        box-shadow:unset;
        width: unset;
        display: flex;
        position: initial;
        flex-direction: row;
        gap: 30px;
    }
    .menu__item {
        padding: unset;
        font-size: 20px;
        font-weight: 600;
    }
    .menu__item:hover {
        background-color: unset;
        color: #ff41bd;
    }
}

